{% extends 'shared/base.html' %}

{% block title %}Панель студента {% endblock %}

{% block nav_items %}
  {% if current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint == 'student.tasks' %}active bg-primary text-white rounded{% endif %}"
        href="{{ url_for('student.tasks') }}">
        <i class="fas fa-list-check"></i> Задания
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint == 'student.profile' %}active bg-primary text-white rounded{% endif %}"
        aria-current="page" href="{{ url_for('student.profile') }}">
        <i class="fas fa-user-graduate"></i> Профиль
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
    {% block student_content %}{% endblock %}          
{% endblock %}

{% block extra_js %}
    {{ super() }}
    {% block scripts %}{% endblock %}
{% endblock %}

