{% extends "shared/base.html" %}

{% block title %}Панель администратора{% endblock %}

{% block nav_items %}
  {% if current_user.is_authenticated %}
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'admin.users' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('admin.users') }}"><i class="fas fa-users"></i> Пользователи</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'admin.topics' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('admin.topics') }}"><i class="fas fa-book"></i> Темы</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'admin.tasks' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('admin.tasks') }}"><i class="fas fa-tasks"></i> Задания</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'admin.attempts' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('admin.attempts') }}"><i class="fas fa-list"></i> Журнал попыток</a></li>
    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'admin.evaluation_page' %}active bg-primary text-white rounded{% endif %}" href="{{ url_for('admin.evaluation_page') }}"><i class="fas fa-chart-line"></i> Оценивание</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {% block admin_content %}{% endblock %}          
{% endblock %}

{% block extra_js %}
  {{ super() }}  
  {% block scripts %}{% endblock %}
{% endblock %}
